<!-- <h1>Customer Application</h1>

<hr><br>

<h2><i>Name : {{Customers[0].Name}}</i></h2><br>
<h2><i>Designation : {{Customers[0].Designation}}</i></h2> -->


<h1>Developers List</h1>

<table border="2">
    <tr>
        <th>Name</th>
        <th>Designation</th>
    </tr>
    <tr *ngFor="let item of Customers">
        <td>{{item.Name}}</td>
        <td>{{item.Designation}}</td>
    </tr>
</table>


<div>
    
    <h1>Add New Developer</h1>
    Name:<input type="text" name = "Name"><br>
    Desig:<input type="text" name="Designation"><br><br>
    <input type="button" value="Save" (click)="Save()" > &nbsp;
    <!-- <input type="button" value="Add New" (click)="AddNew()"> -->


    <input type="button" value="Cancel">

</div>
